.ghost-cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ghost-cursor > canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
}

